
# PlanAhead Generated physical constraints 

NET "clk" LOC = B8;
NET "reset" LOC = B18;
NET "start" LOC = D18;
NET "test_word_TX" LOC = E18;
NET "test_byte_TX" LOC = H13;
NET "PRNG_busy" LOC = J14;
NET "UA_TX_ready" LOC = J15;
NET "baud_sel[0]" LOC = L13;
NET "baud_sel[1]" LOC = N17;
NET "baud_sel[2]" LOC = R17;
NET "seed_sel[0]" LOC = G18;
NET "seed_sel[1]" LOC = H18;
NET "bit_out" LOC = P9;


# PlanAhead Generated IO constraints 

NET "clk" IOSTANDARD = LVCMOS25;

#For debugging clock placement error ONLY!
NET "reset" CLOCK_DEDICATED_ROUTE = FALSE;